.logo{
    width: 4rem;
    height: 3rem;
    margin-left: 1rem;
}
.one {
    z-index: 1;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    background-color: hsl(215, 57%, 17%);
    align-items: center;   
    padding: 0 0 0 1rem; 
    border-radius: 20px;
}
.name{
    color: white;
    text-align: left;
    font-weight: bolder;
}

.link:hover{
    text-decoration: underline;
}

ul{
    list-style-type: none;
    margin: 0 3rem 0 0;
    padding: 1rem;
    display: flex;
    gap: 2rem;
}
a{
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}

.logoname{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.two{
    background-color: hsl(215, 57%, 17%);
    padding: 0rem;
    position: relative;
    margin-left: 7.5rem;
    margin-right: 7.5rem;
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border: 0.313rem solid hsl(215, 57%, 17%);
    border-radius: 20px;
}

.detailsform{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    font-size: 1.25rem;
}

.content img{
    width: 11.25rem;
    height: 12.5rem;
    margin-top: 3.5rem;
    margin-left: 9.375rem;
    border-radius: 10%;
    border: 0.313rem solid hsl(217, 51%, 84%);
}

.content{
    display: flex;
    flex-wrap: wrap;
}

.two h2{
    color: white;
    font-size: 3.125rem;
}

label{
    color: white;
    font-size: 1.5rem;
}

input{
    font-size: 1.25rem;
}

button{
    font-size: 1.563rem;
    border-radius: 10px;
}

.six {
    margin-top: 6.25rem;
    background-color: hsl(215, 57%, 17%);
    padding: 1.25rem;
    color:hsl(217, 51%, 84%);
    text-align: center;
    border-radius: 20px;
}
td{
    padding: 0.5rem;
}

#namealert, #emailalert{
    color: rgb(208, 76, 76);
}

.navbar{
    z-index: 1;
    position: sticky;
    top:79px;
    background-color: rgb(111, 174, 204);
    border-radius: 20px;
}

.navbar li{
    list-style: none;
    margin: 
}

.navbar ul{
    margin-left: 128px;
}

.navbar li a{
    font-size: 20px;
    color: black;
}

.already{
    font-size: 20px;
    padding: 10px;
}

.already a{
    text-decoration: underline;
}