
.logo{
    width: 4rem;
    height: 3rem;
    margin-left: 1rem;
}
.one {
    position: sticky;
    top: 0px;
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: hsl(215, 57%, 17%);
    align-items: center;   
    padding: 0 0 0 1rem; 
    border-radius: 20px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
}

.link:hover{
    text-decoration: underline;
}

.name{
    color: white;
    text-align: left;
    font-weight: bolder;
}
ul{
    list-style-type: none;
    margin: 0 3rem 0 0;
    padding: 1rem;
    display: flex;
    gap: 2rem;
}
a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.logoname{
    flex-shrink: 1;
    flex-grow:1;
    flex-basis: content;
    
    display: flex;
    align-items: center;
    gap: 3rem;
}

.two{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 9.375rem;
    gap: 20px;
    justify-content: space-evenly;
}

@media (max-width : 800px ){
    .two{
        padding: 4rem;
    }
}

.scienceimage{
    margin-top: 1.875rem;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 10%;
    border: 5px solid hsl(215, 57%, 17%);
}

@media (max-width : 500px){
    .scienceimage{
        width: 8.5rem;
        height: 8.5rem;
    }
}
@media (max-width : 300px){
    .scienceimage{
        display: none;
    }
}

.content {
    
    font-size: 1.25rem;
    width: 700px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:hsl(215, 57%, 17%);
}

.content a{
    color: white;
    background-color: hsl(215, 57%, 17%);
    padding: 0.625rem;
    border-radius: 10%;
    border: 0.188rem solid white;
}

.three{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.125rem 9.375rem 3.125rem 9.375rem;
    background-color: hsl(217, 51%, 84%);
    gap: 1.875rem;
}

.teacherimage{
    width: 12.5rem;
    height: 12.625rem;
    border: 0.313rem solid hsl(215, 57%, 17%);
    border-radius: 10%;
    margin-top: -10px;
}

.grade{
    margin-top: 2rem;
    display: flex;
    flex-wrap:wrap ;
    gap: 3.75rem;
    justify-content: space-between;
    flex:1;
}

.select{
    font-size: 2rem;
}
.ninth, .tenth{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 6.25rem;
    height: 6.25rem;
    border: 0.625rem solid hsl(215, 57%, 17%);
    border-radius: 30%;
}

.ninthcontent, .tenthcontent {
    font-size: 1.25rem;
    width: 10.75rem;
    height: auto;
}

.four {

    padding: 9.375rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.25rem;
}
.review{
  
    margin-top: 1.25rem;
    font-size: 1.25rem;
    width: 750px;
    
}

.profile img{
   
    width: 12.5rem;
    height: 12.5rem;
    border: 0.313rem solid hsl(215, 57%, 17%);
    border-radius: 20px;
}

.five{
   
    font-size: 1.25rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: hsl(215, 57%, 17%);
    color:hsl(217, 51%, 84%);
    margin: 0 15.625rem 0 15.625rem;
    padding: 1.875rem 1.875rem 1.25rem 1.875rem;
    gap: 2.375rem;
    border-radius: 20px;
}

.five2{
    border-radius: 10px;
    border: 0.188rem solid hsl(217, 51%, 84%);
    padding: 0.625rem;
}

.six {
    
    margin-top: 6.25rem;
    background-color: hsl(215, 57%, 17%);
    padding: 1.25rem;
    color:hsl(217, 51%, 84%);
    text-align: center;
    border-radius: 20px;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top:79px;
    background-color: rgb(111, 174, 204);
    border-radius: 20px;
}

.navbar li{
    list-style: none;
    margin: 
}

.navbar ul{
    margin-left: 128px;
}

.navbar li a{
    font-size: 20px;
    color: black;
}